{% extends 'base.html' %}
{% block content %}
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-5">
            <div class="formWrapper shadow">
                <div class="header">
                    Login
                </div>
                <form action='/loginHandler/' method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="username" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" />
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Submit</button>
                </form>
                <div class="redirections">
                    <p>New user?  <a href="/signup/"><b>Register account</b></a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
